<h1><%=@user.full_name%></h1>

<h2>Courses </h2>

<ul>
  <% @user.courses.each do |course|%>
    <li>
      <%= link_to course.name, course%>
    </li>
  <%end%>
</ul>

<%= link_to "Delete User", user_path(@user), method: :delete, class:'ui red inverted'%>