<h1>Courses</h1>
<%= link_to "Add Course", new_course_path%>
<br/>
<h2> <%= @courses.length <= 0 ? "No courses" : "" %></h2>

<ul>
  <%@courses.each do |course|%>
    <li>
      <%= link_to course.name, course_path(course)%>

    </li>
  <%end%>
</ul>