<h1>Add Courses</h1>

<%= form_with(model: @course, local: true, class: 'ui form') do |f|%>
<div class="field">
  <%= f.label :name%>
  <%= f.text_field :name, required: true, placehodler: "Course Name"%>
</div>
<%= f.submit nil, class: 'ui blue button inverted'%>
<%end%>

